<a href="https://colab.research.google.com/github/raiforPython/python_learning/blob/chapter_1/1-3_%E3%83%87%E3%83%BC%E3%82%BF%E5%9E%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="長井"
print(x)
x=23
print(x)
x=169.6
print(x)

長井
23
169.6

In [2]:
x=10
print(type(x))
# type関数を使うことにより変数に格納されている値のデータ型を調べることが可能。トラブルシューティングでよく使う

<class 'int'>

In [3]:
x = 3.14
y = int(x)
print(y)  # 変換結果を表示
print(type(y)) #変換後のデータ型を表示
z = str(x)
print(z) # 変換結果を表示
print(type(z)) # 変換後のデータ型を表示
print(z * 2)

3
<class 'int'>
3.14
<class 'str'>
3.143.14

In [4]:
# int型に変換したので小数点以下が切り捨てられる
# 文字列なのでかけ算の6.28ではなく「3.143.14」が返ってくる

In [5]:
price = int(input("料金を入力\n"))
member = int(input("人数を入力してください\n"))
payment = price/member
print (payment)

料金を入力
16000
人数を入力してください
4
4000.0

In [6]:
price = int(input("料金を入力\n"))
member = int(input("人数を入力してください\n"))
payment = price/member
print ("お支払いは" + payment + "円です")

料金を入力
16000
人数を入力してください
4

TypeError: can only concatenate str (not "float") to str

In [7]:
price = int(input("料金を入力\n"))
member = int(input("人数を入力してください\n"))
payment = price/member
print ("お支払いは" + str(payment) + "円です")
# 演算は文字列同士か数値同士で
# 3行目の時点ではpaymentは数値

料金を入力
16000
人数を入力してください
4
お支払いは4000.0円です

In [1]:
name = "長井来希"
age = 23
height = 170
print("私の名前は"+name+"で、年齢は"+str(age)+
      "歳で、身長は"+str(height)+"cmです")

私の名前は長井来希で、年齢は23歳で、身長は170cmです

In [2]:
name = "長井来希"
age = 23
height = 170
print("私の名前は{}で、年齢は{}歳で、身長は{}cmです。".format(name,age,height))
# 文字列の中に値を組み込む方法
# {}は「プレースホルダー」という
# formatの丸カッコの間に、埋め込みたい値をカンマ区切りで順番に埋め込む

私の名前は長井来希で、年齢は23歳で、身長は170cmです。

In [3]:
price = int(input("金額を入力してください>>"))

金額を入力してください>>16000

In [4]:
price = int(input("金額を入力してください>>"))
member = int(input("人数を入力してください>>"))

金額を入力してください>>16000
人数を入力してください>>4

In [5]:
price = int(input("金額を入力してください>>"))
member = int(input("人数を入力してください>>"))
payment = price/member

金額を入力してください>>16000
人数を入力してください>>4

In [7]:
price = int(input("金額を入力してください>>"))
member = int(input("人数を入力してください>>"))
payment = price/member
print ("１人当たりの金額は{}円です"
.format(payment))
# 割り勘プログラムの完成版

金額を入力してください>>16000
人数を入力してください>>4
１人当たりの金額は4000.0円です

In [8]:
# f-string
# 数値が格納された変数名を{}の中に直接指定でき、直感的に理解しやすいコードで書くことができる
name = "長井来希"
age = 23
height = 170
print(f"私の名前は{name}で、年齢は{age}歳で、身長は{height}cmです")

私の名前は長井来希で、年齢は23歳で、身長は170cmです